.wrapper{
  margin: 20px auto;
  background-color: grey;
  width: 50vw;       
 }

 .form_name{
   margin: 0 auto;
   font-size: 30px;
   font-weight: 500px;
   text-align: center;
 }

 .personal_data{display: flex;
  width: 100%;
   }
  
  .first_name, .last_name{
    flex: 1 1 auto;
     }


.formes{
  display: flex;
  width: 100%;
  flex-direction: column;
   }

   .form_item{
     flex: 1 1 auto;
     width: 90%;
     text-align: left;
   }

   input {
    background-color: white;
    padding:10px 15px;
     margin: 15px;
     text-align: left;
     font-size: 20px;
   }
 .btn{padding:10px 20px;
       background-color: teal;
       text-align: left;
        font-size: 30px;
        font-weight: 500px;
      }