.conteiner {display: flex;
  width: 100%;
  flex-wrap: wrap;
  border: 2px solid green;
  flex-direction: row;
  justify-content:space-around;
}

.block:nth-child(1) {
  background: linear-gradient(
    68deg,
    rgba(255, 190, 152, 1) 1%,
    rgba(252, 144, 170, 1) 98%
  );
  
}
.block:nth-child(2) {
  background: linear-gradient(
    78deg,
    rgba(139, 200, 245, 1) 1%,
    rgba(52, 150, 227, 1) 98%
  );
  
}
.block:nth-child(3) {
  background: linear-gradient(
    140deg,
    rgba(75, 216, 201, 1) 0%,
    rgba(125, 218, 550, 1) 1%,
    rgba(51, 284, 190, 1) 98%
  );
  
}

.block:nth-child(4) {
  background: linear-gradient(
    140deg,
    rgba(90, 216, 201, 1) 0%,
    rgba(125, 218, 210, 1) 1%,
    rgba(51, 214, 190, 1) 98%
  );
  
}

.block {
    display: inline-block;
  width: 305px;
  height: 305px;
  border: 1px solid gray;
  border-radius: 5px;
  
 }


